/* Imagen de fondo global del Home */
.home-container {
  padding: 25px;
  min-height: 100vh;
  color: #ffffff;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPam_oXbEvFlA2Oew7RcDAZb1akz74YlOXeA&s");
  background-size: cover;
  background-position: center;
}

/* Layout principal */
.home-sections {
  display: flex;
  gap: 35px;
}

/* Sidebar estilo glass */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 230px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Botones del sidebar (links) */
.sidebar .item {
  text-decoration: none;
  color: #ffffff;
  padding: 12px;
  border-radius: 10px;

  background: rgba(255,255,255,0.12);
  border: 1px solid rgba(255,255,255,0.25);
  backdrop-filter: blur(12px);

  transition: 0.25s;
}

/* Hover glass */
.sidebar .item:hover {
  background: rgba(255,255,255,0.25);
  transform: translateY(-2px);
}

/* Contenedor del mapa estilo glass */
.map-container {
  flex: 1;
  padding: 20px;

  background: rgba(255,255,255,0.08);
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  max-width: 650px;
}

.map-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  color: #fff;
}

/* Placeholder del mapa */
.map-placeholder {
  width: 100%;
  height: 450px;

  border: 1px dashed rgba(255,255,255,0.5);
  color: #eeeeee;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.25);
  border-radius: 8px;
  backdrop-filter: blur(5px);
}
