.home-container {
  padding: 20px;
}

/* Contenedor principal con sidebar + mapa */
.home-sections {
  display: flex;
  gap: 30px;
}

/* Lado izquierdo */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 220px;
}

.sidebar .item {
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Mapa */
.map-container {
  flex: 1;
}

.map-container h2 {
  margin-bottom: 20px;
}

.map-placeholder {
  width: 100%;
  height: 400px;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
